.navbar {
  color: #fff;
  width: calc(100% - 30px);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 5px 14px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 14px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 14px 3px rgba(0,0,0,0.75);
  margin: 15px 15px 0 15px;  
}
.sidenav {
  margin: 0;
}
.app-sidenav {
  position: absolute;
  top: 84px;
  margin: 30px 0 0 15px;


  color: #fff;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;

  font-family: "Poppins", sans-serif;
  -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);

}
.card {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.page-title {
  -webkit-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 3px rgba(0,0,0,0.75);
  background: #27293d;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}
h3 {
  color: #fff;
}
.page-title {
  border-color: #fff;
}
.btn:active,
.btn:focus,
.btn {
  background: #32325d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-floating,
.btn-floating:active,
.btn-floating:focus {
  background: #32325d;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.btn-floating:hover,
.btn:hover {
  background: #e14eca;
}
.select-wrapper ul {
  background: #344675;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.btn,
input,
.white-text,
.select-wrapper ul li span {
  color: #fff;
}
.hide-on-small-and-down ul {
  background: #344675;  
} 
.dropdown-content {
  color: #27293d;
}
.auth-card {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.bbc input {
  font-family: "Roboto";
  color: #000;
}
.card-content.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #000;
}
.tr {
  border-bottom: none;
  border-bottom: 1px solid #ffffff;
}
.table {
  padding: 24px;
}
.income {
  background: #2dce89;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.outcome {
  background: #f5365c;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.breadcrumb-wrap-m {
  background: #27293d;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 15px;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
}
.breadcrumb {
  align-items: center;
  display: flex;
}
.waves-effect {
  outline: none;
}
.pagination {
  margin-top: 35px;
}
